h1{
    color: yellow;
        } 
     * {
        border:solid;
     }

.header{
    background-color:coral;
    display:flex;
    justify-content:space-evenly;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}